 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, div.paragraph, blockquote, fieldset, input { margin: 0; padding: 0; }
 ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0; padding: 0; }
 a img { border: 0; }
 a { text-decoration: none; }
 body { font-family: 'Open Sans', sans-serif; font-size: 13px; background: #fff; color: #555; line-height:24px; }
 .container { margin: 0 auto; width: 940px; }
 #page-wrap { background:url(theme/body-bg99bd.jpg?1428732263) repeat; border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; padding:27px 0px 20px; }
 #header-wrap, #banner-wrap, #nav-wrap, #main-wrap, #footer-wrap { width:100%; }
 h3 { font-size: 22px; padding: .2em 0 .2em 0; line-height: 1.2; font-weight: normal; letter-spacing: -1px; color: #333; margin-bottom:20px; }
 a { color: #dcc215; }
 a:hover { color: #a9940b; }
 h2 { font-size: 22px; padding: .2em 0 .2em 0; line-height: 1.2; font-weight: normal; letter-spacing: -1px; color: #333; margin-bottom:20px; }
 div.paragraph { font-size: 13px; line-height:1.8; padding: .5em 0; }
 p { font-size: 13px; line-height:1.8; padding: .5em 0; }
 div#content {min-height:400px;}
 #logo, #logo a { font-family: 'Pacifico', cursive; font-size:48px; color:#444444; line-height:58px; overflow:hidden; text-shadow: 1px 1px 0px #ffffff; }
 #logo span {line-height:85px;}
 #header { border-collapse: collapse; border-spacing: 0; width:100%; }
 #header td { vertical-align: middle; text-align: left; }
 #logo { float:left; max-width:400px; }
 #header-right table { float: right; width: 1px; }
 #header-right td { padding: 5px 0px; }
 #header .phone-number .wsite-text { font-weight: 600; }
 #header-right .wsite-social { vertical-align: middle; float:right; }
 .wsite-social-item { width: 28px; height: 30px; margin: 1px 0 0 4px; }
 .wsite-social-rss { background: url(theme/social-icons99bd.png?1428732263) no-repeat -130px 0px; }
 .wsite-social-rss:hover { background-position: -130px -30px; }
 .wsite-social-rss:active { background-position: -130px -60px; }
 .wsite-social-linkedin { background: url(theme/social-icons99bd.png?1428732263) no-repeat -65px 0px; }
 .wsite-social-linkedin:hover { background-position: -65px -30px; }
 .wsite-social-linkedin:active { background-position: -65px -60px; }
 .wsite-social-facebook { background: url(theme/social-icons99bd.png?1428732263) no-repeat 0px 0px; }
 .wsite-social-facebook:hover { background-position: 0px -30px; }
 .wsite-social-facebook:active { background-position: 0px -60px; }
 .wsite-social-twitter { background: url(theme/social-icons99bd.png?1428732263) no-repeat -32px 0px; }
 .wsite-social-twitter:hover { background-position: -32px -30px; }
 .wsite-social-twitter:active { background-position: -32px -60px; }
 .wsite-social-mail { background: url(theme/social-icons99bd.png?1428732263) no-repeat -97px 0px; }
 .wsite-social-mail:hover { background-position: -97px -30px; }
 .wsite-social-mail:active { background-position: -97px -60px; }
 .wsite-social-pinterest { background: url(theme/social-icons99bd.png?1428732263) no-repeat -227px 0px; }
 .wsite-social-pinterest:hover { background-position: -227px -30px; }
 .wsite-social-pinterest:active { background-position: -227px -60px; }
 .wsite-social-youtube { background: url(theme/social-icons99bd.png?1428732263) no-repeat -325px 0px; }
 .wsite-social-youtube:hover { background-position: -325px -30px; }
 .wsite-social-youtube:active { background-position: -325px -60px; }
 .wsite-social-plus { background: url(theme/social-icons99bd.png?1428732263) no-repeat -195px 0px; }
 .wsite-social-plus:hover { background-position: -195px -30px; }
 .wsite-social-plus:active { background-position: -195px -60px; }
 .wsite-social-flickr { background: url(theme/social-icons99bd.png?1428732263) no-repeat -162px 0px; }
 .wsite-social-flickr:hover { background-position: -162px -30px; }
 .wsite-social-flickr:active { background-position: -162px -60px; }
 .wsite-social-vimeo { background: url(theme/social-icons99bd.png?1428732263) no-repeat -260px 0px; }
 .wsite-social-vimeo:hover { background-position: -260px -30px; }
 .wsite-social-vimeo:active { background-position: -260px -60px; }
 .wsite-social-yahoo { background: url(theme/social-icons99bd.png?1428732263) no-repeat -292px 0px; }
 .wsite-social-yahoo:hover { background-position: -292px -30px; }
 .wsite-social-yahoo:active { background-position: -292px -60px; }
 #header-right .wsite-search { vertical-align: middle; width:182px; height:28px; margin-left:25px; background:url(theme/search-bg99bd.gif?1428732263) no-repeat top left; float:right; }
 #header-right .wsite-search-input { width: 145px; height: 18px ; border: none; padding: 5px ; color: #999999; font-size: 12px ; background: none; }
 #header-right .wsite-search-button { position: relative; width: 14px; height: 14px; border: 0px; margin: 7px 0px 0px 5px; background: url(theme/search-button99bd.gif?1428732263) no-repeat right center; }
 #nav-wrap .container { clear: both; overflow: hidden; position: relative; padding-bottom:35px; margin-bottom:40px; background: url(theme/saperator99bd.png?1428732263) no-repeat bottom left; }
 #nav-wrap .container table { width:100%; }
 #menu { vertical-align: middle; max-width:500px; }
 #nav-wrap .container ul { list-style: none; float: right; }
 #nav-wrap .container ul li { list-style: none; float: left; margin-left:6px; }
 #nav-wrap .container ul li a { display: block; color: #666666; text-decoration: none; padding: 7px 15px; border: 0; outline: 0; list-style-type: none; -webkit-border-radius: 5px; border-radius: 5px; }
 #nav-wrap .container ul li#active a{ background:#dcc215; color:#fff; border:none; padding: 7px 15px; }
 #nav-wrap .container ul li a:hover { color: #dcc215; background:#fff; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #bebebe; padding: 6px 14px; }
 #wsite-menus .wsite-menu { background:#fff; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #bebebe; padding: 6px 15px; position:relative; top:-1px; }
 #wsite-menus .wsite-menu li a { color: #888888; background: #fff; border:none; border-bottom:1px solid #eeeeee; }
 #wsite-menus .wsite-menu li:last-child a { border:none; }
 #wsite-menus .wsite-menu li a:hover { color: #dcc215; background: #fff; }
 #banner { padding-bottom:40px; margin-bottom:35px; background: url(theme/saperator99bd.png?1428732263) no-repeat bottom left; }
 #banner-image-wrap { position:relative }
 .tall-header-page #banner-image-wrap { width: 100%; height: 400px; }
 .tall-header-page .wsite-header { width: 100%; height: 400px; background: url(theme/banner-tall99bd.jpg?1428732263) no-repeat; }
 .short-header-page #banner-image-wrap { width: 100%; height: 240px; }
 .short-header-page .wsite-header { width: 100%; height: 240px; background: url(theme/banner-short99bd.jpg?1428732263) no-repeat; }
 .no-header-page #banner, .no-header-page .wsite-header { display:none; }
 #bannerleft { float: right; width: 700px; height: 400px; position:relative; }
 .landing-page .wsite-header { width: 100%; height: 400px; background: url(theme/banner-landing99bd.jpg?1428732263) no-repeat; }
 .corner-top-left { background: url(theme/corner-top-left99bd.png?1428732263) no-repeat; position:absolute; top:0px; left:0px; width: 4px; height: 4px; }
 .corner-top-right { background: url(theme/corner-top-right99bd.png?1428732263) no-repeat; position:absolute; top:0px; right:0px; width: 4px; height: 4px; }
 .corner-bottom-left { background: url(theme/corner-bottom-left99bd.png?1428732263) no-repeat; position:absolute; bottom:0px; left:0px; width: 4px; height: 4px; }
 .corner-bottom-right { background: url(theme/corner-bottom-right99bd.png?1428732263) no-repeat; position:absolute; bottom:0px; right:0px; width: 4px; height: 4px; }
 .landing-banner-outer { display: table; #position: relative; overflow: hidden; }
 .landing-banner-mid { #position: absolute; #top: 50%; display: table-cell; vertical-align: middle; }
 .landing-banner-inner { #position: relative; #top: -50%; }
 #bannerright { float: left; width: 190px; height: 400px; maring-right:50px; padding-top:0; line-height: 100%; }
 #bannerright h2 { padding: 0px; line-height: 100%; margin:0px; }
 #bannerright div.paragraph { padding: 20px 0px; line-height: 140%; }
 #bannerright p { padding: 20px 0px; line-height: 140%; }
 #main-wrap .container{ min-height:400px; }
 #main-wrap .container h2 { margin-bottom:10px; }
 blockquote { font-family: 'Droid Serif', serif; font-style: italic; color:#999; padding-left:35px; border-left:3px solid #eeeeee; margin: 15px 0px; }
 #main-wrap .paragraph ul { padding-left:5px !important; }
 #main-wrap .paragraph ul li { list-style:none !important; background: url(theme/bullet99bd.png?1428732263) no-repeat 0px 9px; padding-left:20px !important; }
 #footer-wrap .container { text-align:left; padding:30px 0px 38px; text-align:right; }
 #footer-wrap ul { text-align:left; }
 #footer-wrap div.paragraph { color: #555555; font-size: 13px; line-height:24px; }
 #footer-wrap p { color: #555555; font-size: 13px; line-height:24px; }
 #footer-wrap a { color: #dcc215; }
 #footer-wrap a:hover { color: #a9940b; }
 #footer-wrap h2 { font-size: 22px; margin:0px; font-weight: normal; color:#333; }
 #footer-wrap .paragraph ul { padding-left:0px !important; }
 #footer-wrap .paragraph ul li { list-style:none !important; }
 #footer-wrap .paragraph ul li { background: url(theme/footer-bullet99bd.gif?1428732263) no-repeat 0px 5px; padding-left:20px !important; }
 #footer-wrap span { vertical-align: middle; }
 #footer-wrap .wsite-form-container{ margin-top:0 !important; }
 #footer-wrap .form-radio-container { margin:0 !important; }
 #footer-wrap .wsite-form-label { display: inline-block; padding:10px 0px 0px 0px ; }
 .wsite-form-label { display: inline-block; color: #888888; font-size: 13px; font-weight:normal; padding:10px 0px 0px 0px ; }
 .wsite-form-input, .wsite-search-element-input { color: #666; border:1px solid #bebebe; padding:8px 5px !important; background:#fff; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.1); box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.1); font-size:12px; }
 .form-select { color: #666; border:1px solid #bebebe; padding:2px 5px; width: 395px !important; height: 26px; background:#fff; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.1); box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.1); }
 .wsite-button { display: inline-block; padding: 0px; color#fff; background:#dcc215; -webkit-border-radius: 5px; border-radius: 5px; }
 .wsite-button-inner { color: #fff !important; height: 27px !important; line-height:27px !important; display: block; font-size: 12px; font-weight: normal ; text-decoration: none; padding: 3px 15px !important; background: none; }
 .wsite-button:hover .wsite-button-inner { background:#a9940b; -webkit-border-radius: 5px; border-radius: 5px; }
 .wsite-button:active .wsite-button-inner { background:#a9940b; -webkit-border-radius: 5px; border-radius: 5px; }
 .wsite-button-large .wsite-button-inner { font-size:14px; padding: 5px 15px !important; }
 .wsite-button-large { background:#dcc215; }
 .wsite-button-large .wsite-button-inner { background: none; }
 .wsite-button-highlight { background-image: none; }
 .wsite-button-highlight .wsite-button-inner { background-image: none; }
 .wsite-button-large.wsite-button-highlight { background-image: none; }
 .wsite-button-large.wsite-button-highlight .wsite-button-inner { background-image: none; }

div.paragraph ul, div.paragraph ol { padding-left: 2.3em !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
